body{
    margin: 0px;

}
#mijnmustdos{
background-color: aquamarine;
width: 600px;
height: 100px;
display: flex;

}
#Atletiek{
    color: aqua;
    background-color: bisque;
    padding: 10px;

}
#overmij{
background-color: cornflowerblue;
width: 300px;
height: 300px;
border: 10px;
margin: 0px;
}